
html, body
{margin:0px; padding:0px; font-family:Georgia, Arial;}




#navigation{background:#FFF;border-bottom:1px solid #A6A6A6; border-top:1px solid #A6A6A6;height:31px; margin-bottom:20px; }

#menus ul
{
margin-left:-20px;
}
#menus li
{display:inline;list-style:none;}


.editorWYSIWYG {font: 10pt Tahoma;border:none;}
.editorBBCODE {font: 9pt "Courier New";}

div.richeditor div.editbar {margin-top:5px;background-image:url('http://sa-mp.tv/images/editbar_bg.gif');border-left:1px solid silver;border-right:1px solid silver;border-top:1px solid silver;border-bottom:none;}
div.richeditor div button{vertical-align:middle;width:25px;height:25px;border:1px solid transparent;background-color:Transparent;cursor:pointer;color:Black;background-position:center;background-repeat:no-repeat;background-image:none;}
div.richeditor div button:hover{border:1px solid silver;}
div.richeditor div.container {border-top:none;border-bottom:1px solid silver;border-left:1px solid silver;border-right:1px solid silver;}
div.richeditor textarea{padding:0px 0px 0px 0px;border:none;}
div.richeditor iframe{background-color:#ffffff;border:none;}


#menus li a{background:transparent url(http://sa-mp.tv/images/theme/rok/images/menu.gif) no-repeat;
display:block;color:#382E1F;
height:31px;line-height:31px;
padding:0 20px;margin-left:-10px;float:left;
text-decoration:none;font-size:11px;
z-index:1;}
#menus li a:hover,
#menus li a.current{background-position:0 -31px;}
#menus li.current_page_item a,
#menus li.current-cat a{background-position:0 -62px;}
#menus li a.home{background-position:0 -93px;width:45px;padding:0;margin-left:0;text-indent:-999em;}
#menus li a.home:hover{background-position:0 -124px;}
#menus li.current_page_item a.home{background-position:0 -155px;}
#menus li a.lastmenu:hover{background-position:0 0;cursor:default;}

.home_userbox_usersonline
{
padding-top:20px;
padding-left:20px;
padding-right:20px;
font-weight:bold;
}

.home_userbox_listusers
{
padding-left:20px;
padding-right:20px;
}

.home_userbox_stats
{
padding:20px;
}

.home_userbox
{
margin-bottom:20px; 
border:1px solid #A6A6A6;
}

.home_userbox_title
{
display:block;
height:31px;
border-bottom:1px solid #A6A6A6;
background-color:#EEE;
color:#382E1F;
line-height:31px;
padding-left:20px;
}

.home_userbox_subtitle
{
margin-top:30px;
border-top:1px solid #A6A6A6;
}
.xpadding
{
margin-left:20px;
margin-right:20px;
margin-bottom:30px;
}







.poll_bar
{
height:40px; margin:3px; text-align:right; background-color:#5E767E; color:#FFF; padding:5px; 
}

.poll_question
{
font-size:20px; font-weight:bold;
}

.inbox_pm
{
margin-top:10px;
margin-bottom:10px;
padding:10px;
}

.pm_from
{
float:right;
}

.pmbox
{
width:100%;
height:400px;
}

.postbox
{
width:100%;
height:400px;
}

.user_nav
{
background-color:#EEE;
border:#CCC 1px solid;

padding:10px;
}

.stext
{
display:table-cell;
width:100px;
}
.sfield
{
text-align:left;
display:table-cell;
}

.sfield input[type="text"]
{
width:350px;
}
.width
{
width:960px;
margin:auto;
}

.forum_category
{
background-color:#84B5FF;
padding:8px;
color:#FFF;
border:1px solid #333;
margin-bottom:20px
}

.closedthread
{
background-color:#FFADB9;
}
.diffrow
{
background-color:#F7F7F7;
}

.stickythread, .pm_unread
{
background-color:#FFF79A;
}

.forum_post
{
margin-top:10px;
margin-bottom:10px;
padding:10px;
}

.forum_toolbox
{
margin-bottom:20px;
background-color:#EEE;
border:#CCC 1px solid;

padding:10px;

}




.post_toolbox
{
margin-top:20px;
background-color:#EEE;
border:#CCC 1px solid;
padding:10px;
}


.post_form
{
margin-top:20px;
background-color:#EEE;
border:#CCC 1px solid;
padding:10px;
}


.post_pollbox
{
background-color:#EEE;
border:#CCC 1px solid;
margin-bottom:10px;
padding:10px;

}

.forum_search,.forum_nav
{
float:right;
}
.ctitle
{
display:block;
margin:10px;
font-size:18px;
font-weight:bold;
margin-bottom:0px;
color:#333;
}



.category_subforums
{
background-color:#FFF;
color:#333;
padding:10px;

}
.all
{
background-color:#FFFFFF;

padding-top:0px;
border-left:1px solid #A6A6A6;
border-right:1px solid #A6A6A6;

}

.navbar_top
{ 
margin:0px;
height:115px; wdith:100%;
background:#333333 url(http://sa-mp.tv/images/theme/rok/grad.png);
color:#FFF;
}




#navbar_logo
{ 
width:203px;
float:left;
line-height:115px;
height:115px;


}

.navbar_search
{
background-color:#333;
float:right;
margin-top:20px;
width:400px;
height:30px;
padding:8px;

}

.navbar_searchfield
{
width:300px;
height:30px;
border:none;
font-size:18px;
padding-left:10px;
margin-left:10px;
}

.navbar_nav
{
color:#FFFFFF;
font-weight:bold;
float:right;
margin-top:59px;
text-align:right;
}



.navbar_nav ul, .navbar_nav li
{
display:inline;
list-style:none;
margin-left:40px;
}

.navbar_nav li a
{
color:#FFF;
text-decoration:none;
}

.navbar_nav li a:hover
{
color:#FFF;
text-decoration:underline;
}


.allcontent
{
background:#EEE url(http://sa-mp.tv/images/theme/rok/bggrad.png) repeat-x;
padding-top:20px;
}


.forum_responsebox
{
float:right;
margin-right:0px;

font-weight:normal;
}


.forum_posticon
{
float:left;
margin-right:10px;
}

.forum_posttitle
{
font-weight:bold;
}

.post_container
{
display:table;
}
.post_left
{
display:table-cell;
width:130px;
}

.post_right
{
display:table-cell;
margin-left:140px;
}

.text_container
{
width:150px;
}



 .recaptchatable .recaptcha_image_cell, #recaptcha_table {
   background-color:#FF0000 !important; //reCaptcha widget background color
 }
 
 #recaptcha_table {
   border-color: #FF0000 !important; //reCaptcha widget border color
 }
 
 #recaptcha_response_field {
   border-color: #FF0000 !important; //Text input field border color
   background-color:#FF0000 !important; //Text input field background color
}
.post_title
{
background-color:#EEE;
}

.formerror
{
display:none;
}



.user_posts, .user_box, .user_contentbox, .text_container, .bar_container
{
display:table-cell;
}

.user_contentbox
{
width:700px;
}

.user_box
{
width:200px;
}


.user_string
{

}

.user_username
{
font-size:20px;

}

.user_arc:first-letter
{
  background: url(http://sa-mp.tv/images/open-quote.gif) no-repeat left top;
  padding-left: 18px;
}

.user_arc
{
background: url(http://sa-mp.tv/images/close-quote.gif) no-repeat right bottom;
padding-left: 18px;
margin-bottom:10px;
  width: 400px;
}