*
{
	font-family:Arial, Helvetica, sans-serif;
	margin:0; padding:0;
}

#header, #header a
{
	background-color:#123;	
	height:16px;
	color:#ccc;
	font-size:12px;
	padding:10px;
	text-decoration:none;
}

#header a:hover
{
	text-decoration:underline;
}



#sidebar
{
	position:absolute;
	width:180px;
	left:0;
	top:36px;
	bottom:0;
	background:#eee;
}

#content
{
	position:absolute;
	left:180px;
	right:0;
	top:36px;
	bottom:0;
	overflow-y: scroll;
}

.resultset_textarea
{
	height:125px;
}

.resultset_textarea > textarea
{
	position:absolute;
	border:0;
	left:0; 
	height:150px;
	right:0;
	padding:10px;
	font-family:monospace;
}

.CodeMirror-lines pre, .CodeMirror-lines span, .CodeMirror-gutter-text
{
	font-family:monospace !important;
}

.resultset_toolbar
{
	background-color: #EEE;
	height:16px;
	padding:10px;
}

table#results
{
	width:100%;
	font-size:12px;
	overflow-x:auto;
	border-collapse:collapse;
}


table#results th
{
	padding:6px;
	background-color:#EEE;
	border:1px solid #ccc;
}


table#results td
{
	padding:3px;
	border:1px solid #ccc;
	
}

table#results tr:nth-child(2n+1)
{
	background-color:#FAFAFA;
}

